<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/materialize-social@1.0.3/materialize-social.css"/>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Spring Social</title>
</head>
<body>

<nav class="blue darken-1">
  <div class="nav-wrapper">
    <a th:href="@{/}" class="brand-logo">
      <!--<img th:src="@{/images/logo.png}" alt="My Spring Social" height="30px">-->
      Spring Social
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a th:href="@{/}">
        Home
      </a></li>
      <li><a th:href="@{/signin}">
        Sign in
      </a></li>
      <li><a th:href="@{/signup}">
        Sign up
      </a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <section layout:fragment="content" class="container"></section>
</div>

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js"></script>
</body>
</html>
