<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/materialize-social@1.0.3/materialize-social.css"/>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <title>Spring Social</title>
</head>
<body>

<nav class="blue darken-1">
  <div class="nav-wrapper">
    <a th:href="@{/}" class="brand-logo">
      <!--<img th:src="@{/images/logo.png}" alt="My Spring Social" height="30px">-->
      Spring Social
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
        <a th:href="@{/}">
          Home
        </a>
      </li>
      <li sec:authorize="isAuthenticated()"
          th:classappend="${#httpServletRequest.getRequestURI().startsWith('/connect') ? 'active':''}">
        <a th:href="@{/connect}">
          Connections
        </a>
      </li>
      <li sec:authorize="!isAuthenticated()"
          th:classappend="${#httpServletRequest.getRequestURI().startsWith('/signin') ? 'active':''}">
        <a th:href="@{/signin}">
          Sign in
        </a>
      </li>
      <li sec:authorize="!isAuthenticated()"
          th:classappend="${#httpServletRequest.getRequestURI().startsWith('/signup') ? 'active':''}">
        <a th:href="@{/signup}">
          Sign up
        </a>
      </li>
      <li id="logoutLink" sec:authorize="isAuthenticated()">
        <a>
          Sign out <span sec:authentication="name"></span>
        </a>
        <form method="POST" th:action="@{/signout}" id="logoutForm"></form>
      </li>
    </ul>
  </div>
</nav>


<section layout:fragment="content" class="container"></section>

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js"></script>
<script>
  (() => {
    const logoutLink = document.getElementById('logoutLink')
    const logoutForm = document.getElementById('logoutForm')

    if (logoutLink) {
      logoutLink.addEventListener('click', () => {
        logoutForm.submit()
      })
    }
  })()
</script>
</body>
</html>
