<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <title>Spring Social</title>
</head>
<body>
<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img th:src="@{/images/logo.png}" alt="My Spring Social">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="https://bulma.io/">
        Home
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <a class="navbar-item" th:href="@{/signup}">
            Sign in
          </a>

          <a class="navbar-item" th:href="@{/signin}">
            Sign up
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<section layout:fragment="content"></section>

<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
<script>

</script>
</body>
</html>
