<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/layout}">

<body>
<section layout:fragment="content">
  <h1 class="title">Spring Social</h1>

  <div th:each="event : ${events}" class="col s12 m6">
    <div
        th:class="${event?.socialMedia == T(fr.miage.m2.myspringsocial.event.SocialMedia).FACEBOOK ? 'card light-blue darken-4' : 'card light-blue lighten-1' }">
      <div class="row">
        <div class="col s1 center-align">
          <p class="btn-floating red">
            <i class="material-icons" th:text="${event?.icone}"/>
          </p>
        </div>
        <div class="card-content white-text col s11">

          <b><p th:text="${event?.description}"/></b>

          <div>
            <div th:if="${event?.content != null}">
              <p th:if="${#strings.contains(event?.content, 't.co')}"
                 th:text="${#strings.substringBefore(event?.content, 'https://t.co')}"/>
              <p th:if="${!#strings.contains(event?.content, 't.co')}"
                 th:text="${event?.content}"></p>
            </div>

            <div th:each="media : ${event?.medias}">
              <img th:src="${media}" height="80" width="auto"/>
            </div>
          </div>

          <div th:if="${event?.linkedTo != null}">
            <div th:each="media : ${event?.linkedTo?.medias}">
              <img th:src="${media}" height="80" width="auto"/>
            </div>
            <p th:if="${#strings.contains(event?.linkedTo?.content, 't.co')}"
               th:text="${#strings.substringBefore(event?.linkedTo?.content, 'https://t.co')} + ' de ' + ${event?.linkedTo?.author}"/>
            <p th:if="${!#strings.contains(event?.linkedTo?.content, 't.co')}"
               th:text="${event?.linkedTo?.content} + ' de ' + ${event?.linkedTo?.author == null ? 'Vous' : event?.linkedTo?.author}"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
</body>
</html>