<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!--<h3>Hello, <span th:text="${profile.name}"></span>!</h3>-->

<h4>Here is your feed:</h4>

<!--<div th:each="post:${feed}">-->
  <!--<b th:text="${post.from.name}"></b> wrote:-->
  <!--<p th:text="${post.message}"></p>-->
  <!--<img th:if="${post.picture}" th:src="${post.picture}"/>-->
  <!--<hr/>-->
<!--</div>-->
</body>
</html>
