<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<body>
<section class="section" layout:fragment="content">

  <h2>Sign Up</h2>

  <div class="row">
    <form id="signup" th:action="@{/signup}" method="post" class="col m12"
          th:object="${accountForm}">

      <div th:if="${#fields.hasAnyErrors()}" class="card-panel red lighten-1 white-text">
        Unable to sign up. Please fix the errors below and resubmit.
      </div>

      <div class="row">
        <input placeholder="First name" th:field="*{firstName}"/>
      </div>
      <div class="row">
        <input placeholder="Last name" th:field="*{lastName}"/>
      </div>
      <div class="row">
        <input placeholder="Username" th:field="*{username}"/>
        <span class="helper-text red-text"
              th:if="${#fields.hasErrors('username')}"
              th:text="${#fields.errors('username')[0]}"></span>
      </div>
      <div class="row">
        <input placeholder="Password" type="password" th:field="*{password}"/>
        <span class="helper-text"
              th:unless="${#fields.hasErrors('password')}">6 characters minimum</span>
        <span class="helper-text red-text"
              th:if="${#fields.hasErrors('password')}"
              th:text="${#fields.errors('password')[0]}"></span>
      </div>

      <div class="field">
        <p class="control">
          <button class="btn blue darken-1" type="submit">
            Sign Up
          </button>
        </p>
      </div>
    </form>
  </div>
</section>
</body>
</html>
