<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/layout}">
<body>
<section class="section" layout:fragment="content">
  <h2>Sign In</h2>

  <div class="row">
    <form id="signin" th:action="@{/signin/authenticate}" method="post" class="col m12">
      <div>

        <div class="card-panel red lighten-1 white-text"
             th:if="${param.error != null && param.error[0] == 'bad_credentials'}">
          Your sign in information was incorrect.
          Please try again or <a class="white-text has-underline" th:href="@{/signup}">sign up</a>.
        </div>
        <div class="card-panel red lighten-1 white-text"
             th:if="${param.error != null  && param.error[0] == 'multiple_users'}">
          Multiple local accounts are connected to the provider account.
          Try again with a different provider or with your username and password.
        </div>
      </div>

      <div class="row">
        <input placeholder="Username" id="username" type="text" name="username">
      </div>
      <div class="row">
        <input type="password" placeholder="Password" name="password">
      </div>

      <div class="field">
        <p class="control">
          <button class="btn blue darken-1" type="submit">
            Sign In
          </button>
        </p>
      </div>

      <p>Or you can <a th:href="@{/signup}">signup</a> with a new account.</p>
    </form>
  </div>

  <div class="row">
    <div class="col">
      <form th:action="@{/signin/facebook}" method="POST">
        <input type="hidden" name="scope" value="user_posts, user_photos"/>
        <button class="waves-effect waves-light btn social facebook" type="submit">
          <i class="fa fa-facebook"></i> Sign in with Facebook
        </button>
      </form>
    </div>
    <div class="col">
      <form th:action="@{/signin/twitter}" method="POST">
        <button class="waves-effect waves-light btn social twitter" type="submit">
          <i class="fa fa-twitter"></i> Sign in with Twitter
        </button>
      </form>
    </div>
  </div>
</section>
</body>
</html>
