<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/layout}">
<body>
<section class="section" layout:fragment="content">
  <h2>Connect to Facebook</h2>
  <form th:action="@{/connect/facebook}" method="POST">
    <input type="hidden" name="scope" value="user_posts"/>
    <div class="mb10">
      You aren't connected to Facebook yet. Click the button to connect this application with
      your Facebook account.
    </div>

    <button class="waves-effect waves-light btn social facebook" type="submit">
      <i class="fa fa-facebook"></i>Connect to Facebook
    </button>
  </form>
</section>
</body>
</html>
