<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/layout}">
<body>
<section class="section" layout:fragment="content">
  <h2>Your Connections</h2>


  <div class="row">
    <div class="col s12 m6" th:each="providerId : ${providerIds}">
      <div class="card z-depth-3">
        <div class="card-image">
          <img th:src="@{${'/images/' + providerId + '-logo.png'}}">
          <span class="card-title" th:text="#{${providerId} + '.displayName'}">Provider Name</span>
        </div>
        <div class="card-content provider-content">
          <p th:if="${!#lists.isEmpty(connectionMap[__${providerId}__])}">
            You are connected to <span
              th:text="#{${providerId} + '.displayName'}">provider name</span> as <span
              th:text="${connectionMap[__${providerId}__][0].displayName}">user display name</span>.
          </p>
        </div>
        <div class="card-action">
          <a th:href="@{'/connect/' + ${providerId}}">Manage connection</a>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
