<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/layout}">
<head>
  <link rel="stylesheet" type="text/css" href="src/main/resources/static/css/style.css"/>
</head>
<body>
<section class="section" layout:fragment="content">
  <h2>Connect to Twitter</h2>
  <form th:action="@{/connect/twitter}" method="POST">
    <div class="mb10">
      You aren't connected to Twitter yet. Click the button to connect this application with your
      Twitter account.
    </div>
    <button class="waves-effect waves-light btn social twitter" type="submit">
      <i class="fa fa-twitter"></i>Connect to Twitter
    </button>
  </form>
</section>
</body>
</html>
